:root {
    --primary-color: #C5F4E0;
    --secondary-color: #A7C4A0;
    --accent1-color: #60575c;
    --accent2-color: #C5F4E0;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E6EFE9;
    color: var(--accent1-color);
}

body {
    min-width: 1029px;
}

header, nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header {
    background-color: var(--secondary-color);
    /* color: var(--accent2-color); */
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
}

nav a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    /* width: 840px; */
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #333;
}


.hero article {
    position: absolute;
    right: 0;
    bottom: 16px;
    width: auto;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-color);
    color: #000;
}

.hero article img {
    position: relative;
    float: right;
    width: auto;
    height: 103.2px;
}

/* .hero button {
    background-color: var(--accent1-color);
    color: #eee;
    padding: 10px 24px;
    border-radius: 8px;
    border: 1px solid #5555;
} */

#history {
    position: relative;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 10px;
    height: auto;
    margin: 8px 4px;
    background-color: var(--secondary-color);
}

#history .body1 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-wrap: wrap;
    background: transparent;
}

#history .body1 p {
    background: transparent;
    display: grid;
    width: auto;
    height: 100%;
    align-items: center;
}

#history .body1 .one {
    margin-right: 25%;
}

#history .body1 .two {
    margin-left: 25%;
}

#history h2 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    background-color: transparent;
}

#history img {
    display: block;
    border: 5px solid var(--accent1-color);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
}

#adventure {
    position: relative;
    border: 1px solid rgb(0 0 0 / 0.2);
    height: auto;
    margin: 8px 4px;
    padding: 16px;
}

#adventure h2 {
    display: grid;
    justify-content: center;
    padding: 16px;
}

#adventure form {
    text-decoration: none;
    border: none;
    text-align: center;
}

#adventure label {
    font-weight: 1000;
}

/* #adventure button {
    background-color: var(--accent1-color);
    color: #eee;
    padding: 10px 24px;
    margin: 10px 25%;
    border-radius: 8px;
    border: 1px solid #5555;
    width: 50%;
} */

#adventure button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    color: #000;
}

#images {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

figure {
    display: grid;
    justify-content: center;
    height: 100%;
}

#images img {
    height: 100px;
    width: auto;
    margin: 0 25%;
}

figcaption {
    width: 100%;
    text-align: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 50px;
    height: auto;
}

.contact {
    margin: 2rem;
}

.contact h1 {
    text-align: center;
    margin: 1rem;
    padding-bottom: 20px;
}

.contact p {
    text-align: center;
    padding: 0;
}

.submit {
    display: grid;
    grid-template-columns: 1fr auto qfr;
    grid-template-rows: 6rem auto;
}

.submit .map {
    width: 50%;
    height: 20rem;
}

.map iframe {
    align-items: start;
    width: 100%;
    height: 100%;
}

label, input, form, .form-item, .selections, #one, #two, #three, .action {
    background-color: var(--secondary-color);
}

form, .submit form {
    width: 50%;
    margin: 0 auto;
    padding: 1rem 0;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    font-size: .75rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.form-item p {
    display: flex;
    margin: 0;
    padding: 0;
    align-content: center;
    text-align: left;
}

.action {
    font-weight: 800;
    width: 100%;
}

.title {
    font-weight: 800;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.2rem 0;
}

.hero form {
    position: absolute;
    background-color: var(--accent2-color);
    padding: 1rem;
    width: 25%;
    bottom: 10px;
    right: 15px;
    text-align: center;
}

label {
    text-align: center;
    grid-column: 1;
}

.textarea label {
    text-align: left;
    margin-left: 2rem;
}

input, textarea {
    background-color: var(--accent2-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    align-items: center;
    margin: 0 1.5rem;
}

button {
    background-color: var(--accent1-color);
    color: #eee;
    padding: 10px 24px;
    margin: 10px 25%;
    border-radius: 8px;
    border: 1px solid #5555;
    width: 50%;
}

button:hover {
    background-color: var(--primary-color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    color: #000;
}

#query {
    margin-left: 2rem;
    align-content: space-around;
}

.hero form label {
    background-color: transparent;
}

.selections {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(0, 0, 0, 0.2);
}

footer p {
    display: flex;
    justify-content: center;
}

.trips {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 8px 4px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    align-items: center;
}

.trips div {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 75%;
    height: 100%;
    margin-left: 12.5%;
}

.trips img {
    height: 200px;
    width: auto;
}

.trips h2 {
    margin: 16px;
    padding: 8px;
}

/* .trips button {
    background-color: var(--accent1-color);
    color: #eee;
    padding: 10px 24px;
    margin: 0;
    border-radius: 8px;
    border: 1px solid #5555;
} */

.table {
    margin: 8px 4px;
    padding: 10px;
    margin: 0 25% 0;
}

.table table {
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    letter-spacing: 1px;
}

th, td {
    border: 1px solid rgb(150, 150, 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 700;
}