:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
}

nav a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    /* width: 840px; */
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}


.hero article {
    position: absolute;
    bottom: 16px;
    width: auto;
    padding: 16px;
    text-align: left;
    background-color: var(--secondary-color);
    color: #000;
}

.hero article img {
    position: relative;
    float: right;
    width: auto;
    height: 103.2px;
}

#history {
    position: relative;
    border: 1px solid rgb(0 0 0 / 0.2);
    height: 300px;
    margin: 8px 4px;
}

#history .body1 {
    position: absolute;
    bottom: 16px;
    width: auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-wrap: wrap;
}

#history h2 {
    display: flex;
    justify-content: center;
}

#adventure {
    position: relative;
    border: 1px solid rgb(0 0 0 / 0.2);
    height: auto;
    margin: 8px 4px;
    padding: 16px;
}

#adventure h2 {
    display: flex;
    justify-content: center;
    padding: 16px;
}

#images {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#adventure #images img {
    height: 100px;
    width: auto;
}

#adventure .images img figure figcaption {
    display: flex;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 50px;
    height: auto;
}

.contact {
    margin: 2rem;
}

.contact h1 {
    text-align: center;
    margin: 1rem;
    padding-bottom: 20px;
}

.contact p {
    text-align: center;
    padding: 0;
}

.submit {
    display: flex;
}

.submit .map {
    width: 50%;
    height: 20rem;
}

.map iframe {
    align-items: start;
    width: 100%;
    height: 100%;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    padding-left: 0;
    padding-right: 2.5rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    font-size: .75rem;
}

#query {
    margin-left: 2rem;
    align-content: space-around;
}

.form-item {
    display: grid;
}

.form-item p {
    display: flex;
    margin: 0;
    padding: 0;
    align-content: center;
    text-align: left;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.2rem 0;
}

.selections {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: space-around;
}

label {
    text-align: left;
    grid-column: 1;
}

.textarea label {
    text-align: left;
}

button {
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    display: flex;
    justify-content: center;
}