:root {
    --primary-color: #8ecae6;
    --secondary-color: #fb8500;
    --accent1-color: #219EBC;
    --accent2-color: #ffb703;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 20%);
    gap: 40px;
}

.nav_bar {
    grid-row: 1 / 2;
}

.hero {

}

header {
    padding: 1rem auto;
    margin: auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    display: flex;
}

/* header img {
    padding: 2rem 0 2rem 100px;
    margin: auto;
} */

.navigation {
    align-items: right;
    list-style: none;
    display: flex;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

/* .hero {
    position: relative;
} */

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* header, main, footer {
    width: 840px;
    margin: 0 auto;
} */

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero h1, .hero article {
    position: absolute;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero article {
    position: absolute;
}

.socialmedia a{
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: auto;  
}

