nav {
    background-color: skyblue;
    padding: 1rem;
}

nav a {
    color: black;
    padding: 1rem;
    display: block;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    box-shadow: 5px 10px;
}

h1 {
    color: skyblue;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 2px solid rgb(0 0 0 / 0.3);
    text-align: center;
}